<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".appcomponents.di.MyApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".DesplegableActivity"
            android:exported="false"
            android:label="@string/title_activity_desplegable"
            android:theme="@style/Theme.MyApp.NoActionBar" />
        <activity
            android:name=".modules.perfil.ui.PerfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.appnavigation.ui.AppNavigationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.apuntes2.ui.Apuntes2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.apuntessubidos.ui.ApuntesSubidosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.confirmarlogout.ui.ConfirmarLogoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.subirfoto.ui.SubirFotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.ampliar.ui.AmpliarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.eventoeliminadp.ui.EventoEliminadpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.eventos.ui.EventosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.fotosubida1.ui.FotoSubida1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.eventomodificado.ui.EventoModificadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.verapuntes.ui.VerApuntesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.signup.ui.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.aadirasignatura.ui.AAdirAsignaturaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.ocio.ui.OcioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.menudesplegable.ui.MenuDesplegableActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.editarperfil.ui.EditarPerfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.editarevento.ui.EditarEventoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.login.ui.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".modules.calendario.ui.CalendarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.fotosubida.ui.FotoSubidaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.apuntes.ui.ApuntesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.eventoaadido.ui.EventoAAdidoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".modules.eliminar.ui.EliminarActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>